<%= simple_form_for [@event, comment], validate: true do |f| %>

  <div class="form-group">
    <%= f.input :body, class: 'form-control' %>
  </div>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.input :user_name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Отправить', class: 'btn btn-primary' %>
  </div>
<% end %>