<%= simple_form_for [@event, subscription], validate: true do |f| %>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.input :user_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.input :user_email, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Подписаться', class: 'btn btn-primary' %>
  </div>
<% end %>
