<%= simple_form_for [@event, photo], html: {multipart: true}, validate: true do |f| %>
  <div class="row">
    <div class="col-lg-10 mt-3">
      <div class="custom-file">
        <%= f.label :photo, class: 'custom-file-label', for: 'customFile' %>
        <%= f.file_field :photo, class: 'custom-file-input', id: 'customFile' %>
      </div>
    </div>

    <div class="col-lg-2 mt-3">
      <div class="input-group-append">
        <%= f.submit 'Загрузить', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
   $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
